@charset "UTF-8";

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
   overflow: hidden;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--body-bg-color);
    
}

main img {
    width: 289px;
    height: 89px;
    
}

#header {
    width: 100%;
    height: 15%;
    margin: 30px 0px 0px 30px;
}

#conteudo {
    width: 100%;
    height: 75%;
    margin-left:  30px;
    padding-right: 25px;
}

#conteudo h1 {
    color: var(--title-color);
    font-family: 'Work Sans';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 20px;
}

#conteudo p {
    font-family: 'League Spartan';
    color: var(--text-color);
    padding-bottom: 20px;
}

#text-1 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 16px;
}
#text-2 {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
}

#forms input {
    box-shadow: 60px 12px 6px rgb(0 0 0 / 19%);
    padding: 20px;
    width: 60%;
    height: 48px;
    border: none;
    margin-top: 20px;
}

#footer {
    width: 100%;
    height: 10%;
}

aside {
    flex: 1;
    width: 100%;
    background-image: url(assets/read_news.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: right;
}

#forms {
    display: flex;
    color: var(--form-color);
    position: absolute;
    width: 100vw;
}



#legend {
    position: absolute;
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 138.73%;
}

#forms button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    border: none;
    width: 48px;
    height: 48px;
    background-color: var(--bg-button-color);
}
#forms img {
    width: 24px;
    height: 24px;
}

#meu-link {
    display: flex;
    padding-top: 100px;
}

#meu-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'League Spartan';
    text-decoration: none;
    text-decoration-color: none;

}

#meu-link  a  img{
    height: 24px;
    width: 24px;
}


